* {
  margin: 0;
  padding: 0;
}
.BG {
  background-image: url('./assets/netflixIMG.jpg');
  background-size: cover;
}
.BG-IMG {
  background-image: url('./assets/netflixIMG.jpg');
  background-size: cover;
}